html {
  scroll-behavior: smooth;
}

/* ------------------Colours--------------- */

.main-colour {
  background-color: beige;
}

.page-divider {
  border-top: 80px solid rgb(67, 67, 170);
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ------------------Header--------------- */

body {
  padding-top: 110px;
}

.fixed-header {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  background: white;
}

.container-header {
  width: 80%;
  margin: 0 auto;
  z-index: 999;
}

.open-times {
  padding-bottom: 2px;
  border: 2px solid black;
  margin-top: 20px;
  border-radius: 10px;
}

.nav-link {
  font-weight: bold;
  color: rgb(67, 67, 170);
  text-decoration: none;
}

.nav-link:hover {
  color: #8b8589;
}

/* ------------------Carousel Pictures--------------- */

.slideshow-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.carousel {
  z-index: -1;
}

/* ------------------Page titles/subheadings/paragraph styling--------------- */

.main-title {
  font-weight: bold;
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 6px;
  text-decoration-line: underline;
  text-decoration-color: #003844;
}

.page-title {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 6px;
  text-decoration-line: underline;
  text-decoration-color: #003844;
}

#subheading-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 25px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.para-styling {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #003844;
}

/* ------------------Who are we--------------- */

#who-are-we {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
}

/* ------------------Social Icons--------------- */

.bi {
  font-size: 3rem;
  padding: 60px;
  color: #003844;
  transition: 0.3s;
}

.social-links {
  margin: 20px;
}

.bi:hover {
  color: #8b8589;
}

/* ------------------Where are we?--------------- */

.address-section {
  font-family: "Noto Sans", sans-serif;
}

.address-title {
  text-align: center;
}

.google-map {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#address-list {
  list-style-type: none;
  text-align: center;
  padding: 25px;
  flex-wrap: wrap;
}

#phone-number {
  text-decoration: underline;
  font-weight: bold;
}

/* ------------------Wee Review--------------- */

#review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

#fullname {
  margin-bottom: 10px;
}

#emailaddress {
  margin-bottom: 10px;
}

#submit-review {
  margin: 10px;
}

/* #submit-review:hover {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px -10px #f9f9eb;
} */

/* ------------------Menu--------------- */

figure {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
}

.menu-item-text {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  color: #103e2a;
}

/* ------------------Work with us--------------- */

#work-with-us-form {
  margin-bottom: 10px;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
}

#work-with-us-intro {
  margin: 0 auto;
  max-width: 75%;
  padding-bottom: 20px;
}

/* ------------------Media Query--------------- */

@media (min-wdith: 992px) {
  .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
  }
}
